/* The command panel is displayed in the center of the screen and contains multiple lanes:
 * - each lane contains a title and a list of icons corresponding to commands/tools
 * - when the user clicks on an icon, the corresponding command/tool is activated
 * - when a tool is activated, the icon is highlighted
 */
.command-panel {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 3%;
  left: 2%;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px lightblue;
}

/* The command panel visibility can be toggled by clicking on the command panel button.
 * To indicate that to the user, a big button is displayed at the bottom left of the screen and is always visible.
 * The button style change when the command panel is visible or not.
 */
.toggle-button {
  background-color: white;
  color: black;
  font-size: 4.7rem;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 5px 5px lightblue;
}

.toggle-button.selected {
  color: blue;
  box-shadow: 0px 5px lightblue;
}

.separator {
}
