/* The command panel is displayed in the center of the screen and contains multiple lanes:
 * - each lane contains a title and a list of icons corresponding to commands/tools
 * - when the user clicks on an icon, the corresponding command/tool is activated
 * - when a tool is activated, the icon is highlighted
 */
.command-panel {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 2%;
  left: 6%;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px lightblue;
}

.separator {
}
